/*Set the body to a deep red*/
body{
	background-color: #C70039;
}
/*Sets paragraphs to green Papyrus font*/
h1{
	color: #FFC300;
	font-family: Papyrus;
}
/*Sets paragraphs to a different green Papyrus font*/
h2{
	color: #6DEA90;
	font-family: Papyrus;
}
/*Sets paragraphs to another green Papyrus font*/
h3{
	color: #DAF7A6;
	font-family: Papyrus;
}
/*Sets paragraphs to tan Papyrus font*/
p{
	color: #EFD36F;
	font-family: Papyrus;
}
