body{
	color: #C70039;
}

h1{
	color: #FFC300;
	text-shadow:0 0 2px tan;
	font-family: Papyrus;
}

h2{
	color: #6DEA90;
	text-shadow:0 0 2px tan;
	font-family: Papyrus;
}

h3{
	color: #DAF7A6;
	text-shadow:0 0 2px tan;
	font-family: Papyrus;
}

p{
	color: #EFD36F;
	text-shadow:0 0 2px tan;
	font-family: Papyrus;
}

a:visited{
	color: purple;
}
